html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  background-color: #ffffff;
}

pre {
  display: none;
}

#story-container {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}
